# Default values for mosquitto.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image_postgres:
  repository: postgres
  tag: latest
  pullPolicy: IfNotPresent
  
  image_tokenizer_image:
  repository: tokenizer_image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_kpi_image:
  repository: postgres
  tag: latest
  pullPolicy: IfNotPresent
  
  image_asset_image:
  repository: asset-image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_data_image:
  repository: data-image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_dashboard_image:
  repository: dashboard-image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_usermanager_image:
  repository: usermanager-image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_billing_image:
  repository: billing-image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_time_image:
  repository: time-image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_test_image:
  repository: test-image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_frontend_image:
  repository: frontend-image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_dbinitapi_image:
  repository: dbinitapi-image
  tag: latest
  pullPolicy: IfNotPresent
  
  image_demo_publisher:
  repository: demo_publisher
  tag: latest
  pullPolicy: IfNotPresent
  
  image_demo_subscriber:
  repository: demo_subscriber
  tag: latest
  pullPolicy: IfNotPresent
  
  image_mqtt:
  repository: siemens/sim-edge-app-mosquitto-broker
  tag: 0.1.4.6.65 
  pullPolicy: IfNotPresent

   image_dbconfig_ui:
  repository: dbconfig-ui
  tag: latest
  pullPolicy: IfNotPresent

  
  
  
env:
  name: VCAP_SERVICES  

imagePullPolicy: IfNotPresent

ingress:
  enabled: false

service:
  enabled: true
  type: "ClusterIP"
  port: 1883

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 8Gi
#  storageClass: standard
  annotations: {}
  
appSandbox:
  enabled: "true"

  
resources:
  requests:
    cpu: 50m
    memory: 100Mi

customResources:
  enablespecificdownload: false
