apiVersion: v1
kind: Service
metadata:
   name: edgedb-config-service
   labels:
     app: edgedb-config-service
spec:
   ports:
     - port: 1337
       protocol: TCP
       targetPort: 1337
       protocol: "TCP"
   selector:
     app: pi-app
     backend: dbinit-service
