apiVersion: v1
kind: Service
metadata:
  name: pi-app-service
spec:
  type: "NodePort"
  ports:
    - port: 4201
      targetPort: 4201
      nodePort: 30008
      protocol: TCP
      name: https 
  selector:
    app: pi-app
    type: ui-backend
 
